@*@using Project.Web.Models;
@model ClockInClockOut
@{
    ViewBag.Title = "ClockTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clock Time</h2>


@if (Model.CanClockIn == true)
{
    <form action=@Url.Action("ClockIn", "Home") method="Post">
        <button>Clock In</button>
    </form>

}
else
{
    <form action="@Url.Action("ClockOut", "Home")" method="Post">
        <button>Clock Out</button>
    </form>
}*@

