@using Project.Web.Models;
@model TimeCard
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<p>Welcome to Always Correct Time Tracking</p>
<p>Rest assured that your timesheet will always be accurate (as long as there are no user errors!)</p>


